//Compile main style.scss

@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import 'header';
@import 'base';


body{
  @include flex(center, center, column);
  @include size(100%, 100%);
  min-height: 100vh;
  max-width : 980px;
  margin    : 0    ;
  margin    : 60px auto 0 auto ;
}


tr td{ border-top: 1px solid $background-color-3}


[grid]{@include grid(300px, 1fr, 20px)}


[fade]{
  margin: 0 0 30px 0;
  font-weight:   500;
  text-transform: uppercase;
}

[blue]{
  color: $dark-blue-3;
  padding:   2px 10px;
  font-weight:    500;
  border-radius:  2px;
  background: $semi-white-blue;
}

[logo]{
  width:         32px;
  padding:       10px;
  margin-right:  10px;
  border-radius: 25pc;
  background: $background-color-3;
}

[yellow]{
  color:    $yellow-1;
  font-size:     12px;
}


[card]{
  @include transition(all);
  background: white;
  border-radius: 4px;
  padding: 30px 20px;
  text-align: center;
  width: 300px;
  margin: 10px;

  &:hover{
    @include shadow();
    transform: translateY(-2px);
    img{ transform: translateY(-3px) }
  }
}

img { @include transition(transform) }

td{
  text-align: left;
  height: 40px;
}

th{ padding-bottom: 20px }
tr:last-child td{ border-left: 1px solid transparent}
td:not(:first-child){ border-left: 1px solid $background-color-3}


[bullet]{
  padding-left: 20px;
  margin: auto;
  transform: translateX(-10px);
}

[bullet]:before{
  content: '';
  display: inline-block;
  height: 6px;
  width: 6px;
  background: $blue-1;
  margin-right: 10px;
  margin-left: -20px;
  border-radius: 4pc;
  margin-bottom: 2px;
}



[boxy]{ background: $background-color-3 }

[col2]{
  p{width: 100px;}
  [ac]{padding: 0 20px}
}

[mid]{
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

container {
  margin: auto;
  height: 100%;
  padding: 60px;
  min-height: 100vh;
}
