* {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  background: #F2F4F6;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]), html select {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  padding: 11px 10px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  position: relative;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not(:last-child), html select:not(:last-child) {
  margin-bottom: 20px;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):focus, html select:focus {
  outline: none;
  border-color: #22A5F7;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset])::-webkit-input-placeholder, html select::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

html label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #627386;
  margin-bottom: 10px;
}

html input[type=submit], html [data-type='primary'] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

html input[type=submit]:hover, html [data-type='primary']:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[fw] {
  width: 100%;
}

[ac] {
  align-self: center;
}

[alt] {
  color: #627386;
}

[fade] {
  color: #B8BFCA;
}

[primary] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

[primary]:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[primary]:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

[primary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[secondary] {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

[secondary]:hover {
  color: #22A5F7;
  cursor: pointer;
}

[secondary]:active {
  color: #91d2fb;
}

[secondary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[label] {
  background: #f4fbff;
  padding: 2px 5px;
  border-radius: 2px;
  color: #1f88de;
}

[hc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

[hcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

[hs] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

[hcd] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

[vcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

[vc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  height: 1px;
  border: none;
  background: #F2F4F6;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #22272E;
  padding: 0 20px;
  color: #FFFFFF;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.page-title {
  margin-left: 20px;
}

.user-title {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  color: #9AA5B5;
}

.user-title * {
  margin-left: 10px;
}

.user-title polyline {
  transition: stroke 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  stroke: #9AA5B5;
}

.user-title:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.user-title:hover polyline {
  stroke: #FFFFFF;
}

.subheader {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #FFFFFF;
  padding: 0 20px;
}

.subheader {
  top: 60px;
  left: 0;
  position: fixed;
  transform: translate3d(0px, -120px, 0px);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  z-index: 5;
}

.page-subtitle {
  border-right: 1px solid #D5DAE0;
  height: 16px;
  padding: 0 20px;
  margin-right: 20px;
}

.slideDown {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  border-bottom: 1px solid #F2F4F6;
}

.back-section {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
}

.back-section svg {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 400ms;
  will-change: transform;
}

.back-section:hover {
  color: #22A5F7;
  cursor: pointer;
}

.back-section:hover svg {
  transform: translate3d(2px, 0px, 0px);
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 980px;
  margin: 0 auto;
}

tr td {
  border-top: 1px solid #F2F4F6;
}

[grid] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

[blue] {
  color: #1f88de;
  padding: 2px 10px;
  font-weight: 500;
  border-radius: 2px;
  background: #f4fbff;
}

[logo] {
  padding: 20px;
  margin: 15px;
  border-radius: 25pc;
  background: #F2F4F6;
}

[yellow] {
  color: #ffbc0b;
  font-size: 12px;
}

[card] {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: white;
  border-radius: 4px;
  padding: 0px 0px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

[card]:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  transform: translateY(-2px);
}

[card]:hover img {
  transform: translateY(-3px);
}

.price-card {
  padding: 30px;
  text-align: left;
}

.price-card h2 {
  text-align: left;
}

form {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

form label {
  line-height: 20px;
}

hr {
  height: 1px;
  border: none;
  background: #F2F4F6;
  width: 100%;
}

img {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

td {
  text-align: middle;
  height: 50px;
  line-height: 1.5;
  width: 25%;
}

td:first-child {
  text-align: left;
  padding-left: 20px;
}

table {
  margin-top: 10px;
  margin-bottom: 20px;
}

th {
  padding: 20px 0;
  line-height: 1.5;
  vertical-align: middle;
  border-top-right-radius: 4px;
}

th:last-child span {
  color: #22A5F7;
  background-color: #f4fbff;
  padding: 2px 10px;
  border-radius: 3px;
}

tr:last-child td {
  border-left-color: transparent;
}

td:not(:first-child) {
  border-left: 1px solid #F2F4F6;
}

container {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: auto;
  height: 100%;
  min-height: 100vh;
  margin-top: 120px;
  padding: 40px 0;
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}

.spacer {
  display: flex;
  flex-shrink: 1;
  width: 200px;
}

@media screen and (max-width: 1080px) {
  .spacer {
    display: none;
  }
}

[fade] {
  text-transform: uppercase;
}

.price-component {
  width: 440px;
  position: relative;
  flex-shrink: 0;
}

.price-component .block-hover {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width: 840px) {
  .price-component {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .logos {
    display: none;
  }
}

input[type=text] {
  -webkit-appearance: none;
}

.inputs {
  position: relative;
}

.block-hover {
  background: #F2F4F6;
  box-shadow: inset 0px 0px 0px 1px #B8BFCA;
  border-radius: 0 3px 3px 0;
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding: 0 16px;
  box-sizing: border-box;
  height: 32px;
  width: 80px;
}

.steps {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.steps span {
  height: 20px;
  width: 20px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  color: #7C8D9F;
  border: 1.2px solid #D5DAE0;
  border-radius: 4pc;
  margin-left: 30px;
  margin-right: 15px;
}

@media screen and (max-width: 840px) {
  .steps {
    opacity: 0;
    transform: translateX(50px);
  }
}

@media screen and (max-width: 820px) {
  .steps {
    display: none;
  }
}

.order {
  background-image: linear-gradient(45deg, #673BD6, #2D96F2);
  height: 100%;
  background-size: cover;
  color: white;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
}

.order button {
  height: 32px;
  -webkit-appearance: none;
  border: 1px solid white;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.active {
  color: #22272E;
}

.active span {
  border-color: transparent;
  color: #FFFFFF;
  background: #22A5F7;
}
